.btn {
  font-size: 1.4rem;
  border-radius: 5rem;
  border: 0;
  box-shadow: 0.1rem 0.3rem 1.2rem rgba(132, 126, 126, 0.6);
  transition: all 0.2s;
  text-decoration: none !important;
  &.btn-lg {
    font-size: 2.4rem;
    line-height: 1.5;
    padding: 0.5rem 4.5rem;
  }
  &.btn-primary {
    color: map_get($colors, _white);
    background-color: map_get($colors, _primary);
    &:hover {
      background-color: map_get($colors, _primary_active);
    }
  }
  &.btn-primary-alt {
    color: map_get($colors, _primary) !important;
    background-color: map_get($colors, _white);
    &:hover {
      box-shadow: 0.1rem 0.6rem 1.2rem rgba(132, 126, 126, 1);
    }
  }
}


// Breakpoint:  x <= 991
@media (max-width: map_get($screen,_lg-max)) {
  .btn {
    &.btn-lg {
      font-size: 2rem;
    }
  }
}

// Breakpoint: x <= 449
@media (max-width: map_get($screen,_xs-max)) {
  .btn {
    &.btn-lg {
      font-size: 1.8rem;
      padding: 0.5rem 2.5rem;
    }
  }
}