<div class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="social-networks">
                <a href="http://twitter.com/pyconcolombia" target="_blank">
                    <i class="fab fa-twitter fa-3x"></i>
                </a>
                <a href="http://facebook.com/pyconcolombia" target="_blank">
                    <i class="fab fa-facebook-f fa-3x"></i>
                </a>
                <a href="http://instagram.com/pyconcolombia" target="_blank">
                    <i class="fab fa-instagram fa-3x"></i>
                </a>
                <a href="http://medium.com/@pyconcolombia" target="_blank">
                    <i class="fab fa-medium fa-3x"></i>
                </a>
                <a href="http://github.com/pyconcolombia" target="_blank">
                    <i class="fab fa-github-alt fa-3x"></i>
                </a>
            </div>
            <div class="copyright">
                <p>© 2019 <a href="https://python.org.co" target="blank_">Python Colombia</a>. All rights reserved.</p>
                <p>{% if this.alt == 'en' %}
                <a href="https://pycon.co/en/code-of-conduct">Code of Conduct</a>
                {% else %}
                <a href="https://pycon.co/codigo-de-conducta">Código de Conducta</a>
                {% endif %} | <a
                        href="mailto:hello@pycon.co">hello@pycon.co</a></p>
            </div>
        </div>
    </div>
</div>