
color-primary = #FFFFFF;
color-secondary = #FFFFFF;
color-third = #FFFFFF;
color-accent = #FFFFFF;


color-text-primary = #FFFFFF;
color-text-secondary = #FFFFFF;
color-text-disable = #999999; /*Also for inactive*/
color-text-inactive = #CCCCCC; /*Original inactive color of MDL*/

color-border = #FFFFFF;

color-background = #FFFFFF;

color-white = #ffffff;
color-black = #000000;

