@import "config/variables";
@import "content/animations";
@import "content/header";
@import "content/content";
@import "content/footer";
@import "content/responsive";


* {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  outline: none !important
}

html, body {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration:none;
  }
}

