{% extends "layout.html" %}
{%- from "macros/translation.html" import transbag -%}

{%- set t_intro_location = transbag('translate', this.alt, 'intro_location') -%}
{%- set t_intro_date = transbag('translate', this.alt, 'intro_date') -%}
{%- set t_intro_place = transbag('translate', this.alt, 'intro_place') -%}
{%- set t_message_cfp = transbag('translate', this.alt, 'message_cfp') -%}
{%- set t_button_cfp = transbag('translate', this.alt, 'button_cfp') -%}
{%- set t_keynote_title = transbag('translate', this.alt, 'keynote_title') -%}

{%- block body -%}
<div class="container">
  <div class="logotype-container logotype logos wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">
    <img src="{{ base_url }}dist/images/logotype.svg">
  </div>

  <div class="logo-container logo logos wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000"></div>

  {% set is_tickets_section_enabled = this.tickets_link and 'tickets' in this.sections %}

  <div class="row event-info">
    {% if is_tickets_section_enabled %}
      <div class="event-ticket col-md-4 offset-md-2 wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
        <a href="{{ this.tickets_link }}" target="blank_">
          <img src="{{ base_url }}dist/images/ticket_en.svg">
        </a>
      </div>
    {% endif %}
    <div class="event-description {{ 'text-center offset-md-3' if not is_tickets_section_enabled else '' }} col-md-{{ '6' if not is_tickets_section_enabled else '5' }} wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
      <div class="wrapper">
        <h2>{{ t_intro_place }}</h2>
        <p>{{ t_intro_location }}</p>
        <p>{{ t_intro_date }}</p>
      </div>
    </div>
  </div>
</div>

{% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}

{% if speakers %}
  <div class="key-speakers-info">
    <div class="bubbles-background clouds">
      <div class="container">
        <div class="row">
          <div class="speakers-title col-md-5 offset-md-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">
            <h1>&lt;{{ t_keynote_title }}/&gt;</h1>
          </div>
        </div>
        {% for speaker in speakers %}
          {% if loop.index % 2 == 1 %}
            <div class="row speaker-info wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
              <div class="speaker-description col-md-6 col-sm-6 col-xs-12 order-md-1 order-12">
                <div class="wrapper">
                  <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                  <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                </div>
              </div>
              <div class="speaker-avatar col-md-4 col-sm-4 col-xs-12 order-md-12 order-1">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
              </div>
            </div>
            <div class="row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s"
              data-wow-offset="-1000">
              <div class="speaker-avatar col-md-4 offset-md-2">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
              </div>
              <div class="speaker-description col-md-6">
                <div class="wrapper">
                  <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                  <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                </div>
              </div>
            </div>
            <div class="row speaker-info wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
              <div class="speaker-description col-md-6 col-sm-6 col-xs-12 order-md-1 order-12">
                <div class="wrapper">
                  <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                  <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                </div>
              </div>
              <div class="speaker-avatar col-md-4 col-sm-4 col-xs-12 order-md-12 order-1">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
              </div>
            </div>
            <div class="row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s"
              data-wow-offset="-1000">
              <div class="speaker-avatar col-md-4 offset-md-2">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
              </div>
              <div class="speaker-description col-md-6">
                <div class="wrapper">
                  <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                  <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                </div>
              </div>
            </div>
          {% else %}
            <div class="row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s"
              data-wow-offset="-1000">
              <div class="speaker-avatar col-md-4 offset-md-2">
                <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
              </div>
              <div class="speaker-description col-md-6">
                <div class="wrapper">
                  <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                  <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
</div>
  {% set is_speakers_call_enabled = this.accepted_speakers_link and 'speakers-call' in this.sections %}
  {% if is_speakers_call_enabled %}
    <div class="call-for-papers wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.2s" data-wow-offset="-1000">
      <h1>&lt;{{ t_message_cfp }}/&gt;</h1>

      <div class="call-to-actions row">
        <div class="text-center col-md-12">
          <a class="btn btn-primary-alt btn-lg" href="{{ this.accepted_speakers_link }}"  target="_blank">
            {{ t_button_cfp }}
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{%- endblock -%}