{% extends "layout.html" %}

{%- block body -%}
<div class="container">
  <div class="logotype-container wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">
    <img src="{{ base_url }}dist/images/logotype.svg" alt="">
  </div>

  <div class="logo-container wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
    <img src="{{ base_url }}dist/images/logo.svg" alt="">
  </div>

  {%- if 'tickets' in this.sections -%}
  {%- endif -%}

  <div class="row event-info">
    <div class="event-ticket col-md-4 offset-md-2 wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
      <img src="{{ base_url }}dist/images/ticket_en.svg">
    </div>
    <div class="event-description col-md-5 wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
      <div class="wrapper">
        <h2>{{ t_intro_place }}</h2>
        <p>{{ t_intro_location }}</p>
        <p>{{ t_intro_date }}</p>
      </div>
    </div>
  </div>
</div>

{% set speakers = site.query('/keynotes', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}

{% if speakers %}
  <div class="key-speakers-info">
    <div class="container">
      <div class="row">
        <div class="speakers-title col-md-11 offset-md-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">
          <h1>&lt;KEYNOTE<br />SPEAKERS/&gt;</h1>
        </div>
      </div>
    </div>
    <div class="bubbles-background clouds-1">
      <div class="container">
        {% for speaker in speakers %}
          {% if loop.index % 2 == 1 %}
          <div class="row speaker-info wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1.2s" data-wow-offset="-1000">
            <div class="speaker-description col-md-6">
              <div class="wrapper">
                <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
              </div>
            </div>
            <div class="speaker-avatar col-md-4">
              <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
            </div>
          </div>
          {% else %}
          <div class="row speaker-info alt wow fadeInRight" data-wow-delay="0.6s" data-wow-duration="1.2s"
            data-wow-offset="-1000">
            <div class="speaker-avatar col-md-4 offset-md-2">
              <img src={%- if speaker.image -%} "{%- if speaker.keynote -%}/keynotes/{%- else -%}/ponentes/{%- endif -%}{{ speaker._id }}/{{ speaker.image }}" {%- else -%} "/static/images/empty-photo.svg" {%- endif -%} ">
            </div>
            <div class="speaker-description col-md-6">
              <div class="wrapper">
                <h3>{{ speaker.name }} {{ speaker.last_name }}</h3>
                <p>{{ speaker.position_1 }}<br />{{ speaker.position_2 }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if loop.index % 4 == 2 %}
            </div>
            </div>
            <div class="bubbles-background clouds-2">
              <div class="container">
          {% elif loop.index % 4 == 0 %}
            </div>
            </div>
            <div class="bubbles-background clouds-1">
              <div class="container">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endif %}

<div class="call-for-papers  wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.2s" data-wow-offset="-1000">
  <h1>&lt;CALL FOR PAPERS/&gt;</h1>

  <div class="call-to-actions row">
    <div class="left col-md-6">
      <a class="btn btn-primary-alt btn-lg" href="#">
        Call for papers
      </a>
    </div>
    <div class="right col-md-6">
      <a class="btn btn-primary-alt btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSfnodEiHZ9dOzmG_x87ALE4xj_N4qF2in5cK21Mh0EfHrvKeQ/viewform"  target="_blank">
        Call for speakers
      </a>
    </div>
  </div>
</div>
{%- endblock -%}