{%- set base_url = '/'|url(alt='es') -%}

{%- from "macros/translation.html" import transbag -%}
{%- set t_open_chat = transbag('translate', this.alt, 'open_chat') -%}

{%- macro menu_item(identifier) -%}
  {% set identifier_url = '/' + identifier %}
  {% set trans_url = identifier_url|url(alt=this.alt) %}
  {% set this_is_child = this.is_child_of(identifier_url) %}

  <li class="dropdown">
    <a href="{{ trans_url }}" class="nav-link {% if this_is_child %}nav-primary{% endif %}">
      {{ transbag('menu', this.alt, identifier) }}
    </a>
  </li>
{%- endmacro -%}

{%- macro menu_item_list(identifier, items) -%}
  <li class="dropdown">
    <a class="nav-link dropdown-toggle {% if item_this_is_child %} nav-primary{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">{{ transbag('menu', this.alt, identifier) }}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {%- for item in items -%}
      {% set item_url = '/' + item %}
      {% set item_trans_url = item_url|url(alt=this.alt) %}
      {% set item_this_is_child = this.is_child_of(item_url) %}
      <a class="dropdown-item{% if item_this_is_child %} nav-primary{% endif %}"
        href="{{ item_trans_url }}">{{ transbag('menu', this.alt, item) }}</a>
      {%- endfor -%}
    </div>
  </li>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description"
    content="PyCon Colombia 2020 will be the fourth national conference for users and developers of the Python programming language. It will be in Medellín, Colombia from February 7 to 9.">

    <meta property="og:site_name" content="PyCon Colombia"/>
    <meta property="og:title" content="PyCon Colombia | February 7th - 9th 2020 | Medellín, Colombia"/>
    <meta property="og:description"
    content="PyCon Colombia 2018 will be the fourth national conference for users and developers of the Python programming language. It will be in Medellín, Colombia from February 7 to 9."/>
    <meta property="og:image" content="http://www.pycon.co/dist/images/opimage.png">
    <meta property="og:url" content="http://www.pycon.co/">
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pyconcolombia">
    <meta name="twitter:creator" content="@soyelhijo">
    <meta name="twitter:title" content="PyCon Colombia | February 7th - 9th 2020 | Medellín, Colombia">
    <meta name="twitter:description"
    content="PyCon Colombia 2020 will be the first national conference for users and developers of the Python programming language. It will be in Medellín, Colombia from February 7 to 9.">
    <meta name="twitter:image" content="http://www.pycon.co/dist/images/opimage.png">
    <meta name="google-site-verification" content="Lb8Bugu2ORvYa3ZIYPfPDWFEntukt1Yztc4I8SDgJ6g" />

    <title>PyCon Colombia | February 7th - 9th 2020 | Medellín, Colombia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ base_url }}dist/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ base_url }}dist/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}dist/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ base_url }}dist/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}dist/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ base_url }}dist/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}dist/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ base_url }}dist/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}dist/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url }}dist/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url }}dist/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url }}dist/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url }}dist/favicon/android-icon-192x192.png">
    <link rel="manifest" href="{{ base_url }}dist/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ base_url }}dist/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- CSS -->
    <link rel="stylesheet" href="{{ base_url }}dist/css/vendors.css">
    <link rel="stylesheet" href="{{ base_url }}dist/css/main.css">

    <!-- Javascript -->
    <script src="{{ base_url }}dist/js/vendors.js"></script>
    <script src="{{ base_url }}dist/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105321720-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-105321720-3');
    </script>

    <script>
      $(document).ready(function() {});
    </script>

    <!-- Noscript content for added SEO -->
    <noscript><a href="https://www.eventbrite.com/e/pycon-colombia-2020-tickets-56463397542" rel="noopener noreferrer"
        target="_blank"></noscript>
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
      var exampleCallback = function () {
        console.log('Order complete!');
      };
      window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '56463397542',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-56463397542',
        onOrderComplete: exampleCallback
      });
    </script>

  </head>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ '/'|url(alt=this.alt) }}">
      <img src="{{ base_url }}dist/images/logo.svg" alt="" width="auto" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav scrollable-menu">
        {{ menu_item_list('title_speakers', ['keynotes', 'ponentes']) }}
        {{ menu_item('ponencias') }}
        {{ menu_item('patrocinadores') }}
        {{ menu_item('equipo') }}

        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">v.2020</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://2019.pycon.co">v.2019</a>
            <a class="dropdown-item" href="http://2018.pycon.co">v.2018</a>
            <a class="dropdown-item" href="http://2017.pycon.co">v.2017</a>
          </div>
        </li>
        <li class="nav-item">
          {% if this.alt == 'en' %}
            <a class="nav-link" href="{{ '.'|url(alt='es') }}">Español</a>
          {% else %}
            <a class="nav-link" href="{{ '.'|url(alt='en') }}">English</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <button class="js-gitter-toggle-chat-button gitter-custom-button">
    {{ t_open_chat }}
  </button>
  <body>
    {%- block body -%}{%- endblock -%}
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'PyConColombia/Lobby',
        activationElement: '.gitter-button',
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="{{ base_url }}dist/js/navbar.js"></script>
  </body>
</html>