$colors: (
  // ----- Custom colors -----
  _primery: #ffffff,
  _secundary: #ffffff,
  _third: #ffffff,

  // ----- Social networs colors -----
  _twitter: #1da1f2,
  _facebook: #3b5998,
  _pinterest: #CD232D,
  _instagram: #125688,
  _linkedin: #007bb6,
  _email: #0a88ff,
);

$fonts-families: (
  main: 'Ubuntu, Helvetica, Arial, sans-serif',
);

$fonts-weigths: (
  _light: 300,
  _regular: 400,
  _medium: 500,
  _bold: 700,
);