
.container {
  max-width: 96rem;
}

.layout-home {
  &:before {
    content: '';
    width: 100%;
    height: 90rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/intro_complete.svg');
    background-size: cover;
    background-position: top center;
  }
  background-color: #99F2D6;
  .background-wrapper {
    padding-top: 22rem;
    background-image: linear-gradient(#b0fed1, #66a6ff, #99F2D6);
  }
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
    .logotype-container {
      margin: 0 2rem 6rem 2rem;
      img {
        margin: 0 auto;
        max-width: 46rem;
        display: block;
      }
    }

    .logo-container{
      margin: 0 auto 6rem auto;
      background-size: contain;
      width: auto;
      background: url('../images/logo.svg') center center no-repeat;
      height: 25rem;
      img {
        display: block
      }
    }

  }

  .bubbles-background {
    background-image: url('../images/bubles.svg');
    background-position: top center;
    background-size: 85%;
    position: relative;

    &:before, &:after {
      content: '';
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      position: absolute;
      position: absolute;
    }

    &:before {
      left: -5%;
      width: 110%;
      height: 80rem;
      top: -52rem;
      background-image: url('../images/cloud_1.svg');
    }
    &:after {
      left: -5%;
      width: 110%;
      height: 70rem;
      bottom: -60rem;
      background-image: url('../images/cloud_2.svg');
    }
  }
}





.event-info {
  .event-ticket {
    img {
      width: 90%;
      margin: 0 auto;
      transform: rotate(-15deg);
      display: block;
    }
  }
  .event-description {
    .wrapper {
      padding: 0 0 20rem 0;
      p {
        margin-bottom: 0;
      }
    }
  }
}

.key-speakers-info {
  padding: 15rem 0;
  position: relative;

  .speakers-title {
    h1 {
      margin-left: 5.5rem;
      text-transform: uppercase;
    }
  }

  .speaker-info {
    padding-top: 6.2rem;
    .speaker-description {
      text-align: right;
      .wrapper {
        padding: 0 1.2rem;
        h3 {
          margin-top: 6.2rem;
        }
      }
    }

    .speaker-avatar {
      img {
        width: 23rem;
        height: 23rem;
        border-radius: 100%;
        margin: 0 1.2rem;
      }
    }

    &.alt {
      .speaker-description {
        text-align: left;
      }
      .speaker-avatar {
        text-align: right;
      }
    }
  }
}

.venue {
  padding-top: 26.5rem;
  padding-bottom: 30rem;
}

.call-for-papers {
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .call-to-actions {
    .left {
      text-align: right;
    }
  }
}
