

.container-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 95rem;
}

.row-no-padding [class*=col-] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -0.4rem;
  text-align: center;
  vertical-align: top;
}




.container-fluid {
  background:url('../images/field-bg.jpg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 9rem;

  .container {
    padding-top: 17.7rem;
    .logotype-container {
      margin: 0 auto 6rem auto;
      width: 54rem;
      img {
        display: block;
      }
    }
  }

  .logo-container{
    margin: 0 auto 6.5rem;
    width: 25rem;
    img {
      display: block
    }
  }
  .text-container {
    color: #fff;
    margin: 0 auto 20rem;
    position: relative;
    text-align: center;
    z-index: 2;
    p {
      margin: 0 0 1rem;
      font-weight: 300;
    }
    .h1 {
      font-size:2.9rem;
      letter-spacing: 2rem;
    }
    .h2 {
      font-size: 2.1rem;
      letter-spacing: 1.7rem;
    }
    .h3 {
      font-size: 1.9rem;
      letter-spacing: 1.2rem;
    }
  }

  .clouds-left {
    bottom:-30rem;
    display: block;
    left: -20%;
    position: absolute;
    width: 100rem;
    z-index: 1;
    img {
      display: block;
    }
  }

  .clouds-right {
    bottom:-11rem;
    display:block;
    position:
    absolute;
    right:-35%;
    width: 120rem;
    z-index: 1;
    img {
      display: block;
    }
  }
}



@media screen and (max-width:1400px) {
  .container-fluid {
    .clouds-left {
      left:-30%;
    }
    .clouds-right {
      bottom:-11rem;
      right:-45%;
    }
  }
}

@media screen and (max-width:1250px) {
  .container-fluid {
    .clouds-left {
      left: -40%;
    }
    .clouds-right {
      bottom:-11rem;
      right:-55%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .container-fluid {
    .clouds-left {
      left:-50%;
    }
    .clouds-right {
      bottom:-11rem;
      right:-65%;
    }
  }
}

@media screen and (max-width: 991px) {
  .container-fluid {
    .clouds-left {
      display: none;
    }
    .clouds-right {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    .logotype-container {
      margin: 8rem auto 6rem;
      width: 250px;
      img {
        display: block;
      }
    }
    .logo-container {
      margin-bottom: 5rem;
      width: 180px;
      img {
        display: block;
      }
    }
    .text-container {
      margin-bottom: 6rem;
      p {
        margin: 0 0 1rem;
        font-weight: 300;
      }
    }
    .text-container {
      .h1 {
        font-size: 2.2rem;
        letter-spacing: 0.6rem;
      }
      .h2 {
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
      }
      .h3 {
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
      }
    }
  }
}

.apply-btn {
  background:#fff;
  border-radius: 10rem;
  box-shadow: 0 0 0.1rem rgba(255,255,255,0.9), 0 0 0.5rem rgba(0, 0, 0, 0.7);
  color: #82C5FC;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  line-height: 1.2;
  height: 4.3rem;
  margin: 0 2rem 1rem;
  padding-top: 0.7rem;
  position: relative;
  text-align: center;
  width: 90%;
  z-index: 10;
  &:focus, &:hover {
    text-decoration: none;
  }
}


.ticket {
  max-width: 50rem;
  margin: 15rem auto;
  &:hover {
    animation-duration: 0.5s;
    animation-name: shake;
  }
}


.apply-buttons {
  margin: 10rem 0;
}

.footer {
  color: #fff;
  margin: 10rem 0;
  a {
    margin: 0 1rem;
  }
  .info {
    margin: 1rem 0;
  }
}
