.navbar {
  padding: 3.2rem 4rem;
  height: 9rem;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  &.scrolled {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
  }
  .navigation {
    .nav-link {
      display: inline-block;
      font-size: 1.4rem;
      padding: 0.2rem 1.7rem;
      margin: 0 0.3rem;
      border-radius: 5rem;
      color: map_get($colors, _primary);
      transition: all 0.2s;
      &:hover {
        color: map_get($colors, _primary_active);
      }
      &.nav-primary {
        background-color: map_get($colors, _primary);
        color: map_get($colors, _white);
        &:hover {
          background-color: map_get($colors, _primary_active);
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .dropdown, .nav-item {
        & > a {
          color: map_get($colors, _primary);
          font-size: 1.4rem;
          padding: 0.2rem 1.7rem;
        }
        .dropdown-menu {
          text-align: center;
          a {
            font-size: 1.4rem;
            width: 19rem;
            color: map_get($colors, _primary);
          }
        }
      }
      .nav-item {
        & > a {
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      letter-spacing: 0.2rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}


// Breakpoint: x < 575
@media (max-width: map_get($screen,_sm-max)) {
  .navbar {
    padding: 2rem 3rem;
  }
}
